@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Grenze+Gotisch:wght@700&display=swap');

.answerOption{
    font-family: 'Aclonica';
    background-color: #282c34;
    color: #fcba03;
}